In [1]:
##data: https://www.kaggle.com/debajyotipodder/co2-emission-by-vehicles/version/1?select=CO2+Emissions_Canada.csv

In [2]:
import pandas as pd
from pycaret.regression import *

data = pd.read_csv('CO2 Emissions_Canada.csv')

In [3]:
data.shape

(7385, 12)

In [4]:
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [16]:
data = data[["Vehicle Class", "Cylinders","Transmission","Fuel Type",
"Fuel Consumption City (L/100 km)", "Fuel Consumption Hwy (L/100 km)", "CO2 Emissions(g/km)"]]

In [17]:
data.describe()

,Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),CO2 Emissions(g/km)
count,7385.000000,7385.000000,7385.000000,7385.000000
mean,5.615030,12.556534,9.041706,250.584699
std,1.828307,3.500274,2.224456,58.512679
min,3.000000,4.200000,4.000000,96.000000
25%,4.000000,10.100000,7.500000,208.000000
50%,6.000000,12.100000,8.700000,246.000000
75%,6.000000,14.600000,10.200000,288.000000
max,16.000000,30.600000,20.600000,522.000000

In [18]:
data['Vehicle Class'].unique()

array(['COMPACT', 'SUV - SMALL', 'MID-SIZE', 'TWO-SEATER', 'MINICOMPACT',
       'SUBCOMPACT', 'FULL-SIZE', 'STATION WAGON - SMALL',
       'SUV - STANDARD', 'VAN - CARGO', 'VAN - PASSENGER',
       'PICKUP TRUCK - STANDARD', 'MINIVAN', 'SPECIAL PURPOSE VEHICLE',
       'STATION WAGON - MID-SIZE', 'PICKUP TRUCK - SMALL'], dtype=object)

In [19]:
data['Transmission'].unique()

array(['AS5', 'M6', 'AV7', 'AS6', 'AM6', 'A6', 'AM7', 'AV8', 'AS8', 'A7',
       'A8', 'M7', 'A4', 'M5', 'AV', 'A5', 'AS7', 'A9', 'AS9', 'AV6',
       'AS4', 'AM5', 'AM8', 'AM9', 'AS10', 'A10', 'AV10'], dtype=object)

In [20]:
data['Fuel Type'].unique()
data['Cylinders'].unique()

array([ 4,  6, 12,  8, 10,  3,  5, 16], dtype=int64)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Vehicle Class                     7385 non-null   object
 1   Cylinders                         7385 non-null   int64
 2   Transmission                      7385 non-null   object
 3   Fuel Type                         7385 non-null   object
 4   Fuel Consumption City (L/100 km)  7385 non-null   float64
 5   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 6   CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 404.0+ KB

In [23]:
models_setup = setup(data, target = "CO2 Emissions(g/km)", session_id = 123)
          #normalize = True)
          # polynomial_features = True,
          # feature_interaction = True)

In [24]:
best = compare_models()

In [25]:
rf = create_model('rf')

In [26]:
gbr = create_model('gbr')

In [29]:
tuned_rf =  tune_model(rf, choose_better=True)

In [28]:
tuned_gbr =  tune_model(gbr)